@model MyBookshelf.Models.ListingResponse

<link href="~/css/formatting.css" type="text/css" rel="stylesheet" />

<h1>Wyszukiwanie książek</h1>

<hr />

<style type="text/css">

    .btn:enabled {
        background-color: #0096FF;
        color: #FFFFFF;
        padding: 10px 30px;
        font-size: 16px;
        margin-top: 30px;
        border-radius: 5px;
    }

    .btn2:enabled {
        background-color: #0096FF;
        color: #FFFFFF;
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        outline: none;
    }

    .btn2:disabled {
        background-color: #808080;
        color: #FFFFFF;
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        outline: none;
    }

    .form-control {
        margin-bottom: 5px;
    }

    .form-group {
        display: flex;
        align-items: baseline;
    }

    input {
        margin-right: 10px; /* Przerwa między input a button */
    }

    .form1-group {
        display: flex; /* Użycie flexbox */
        justify-content: flex-end; /* Wyrównanie elementów do prawej */
        margin-bottom: 25px;
    }

    .centered-pagination {
        display: flex;
        justify-content: center; /* Centrowanie poziome */
        align-items: center; /* Centrowanie pionowe */
        gap: 10px;
    }

    .centered-pagination span {
        text-align: center; /* Centrowanie wewnątrz span */
        font-size: 16px;
    }

    table {
        margin-bottom: 30px; /* Dodanie odstępu poniżej tabeli */
    }

</style>

<div class="row" id="row">
    <form asp-action="SearchBookBase" method="post">
        <div class="form-group">
            <input class="form-control" name="query" placeholder="Wyszukiwana fraza" value="@ViewBag.Query" />
            <button class="btn btn-default" type="submit" name="btn">Wyszukaj</button>
            <link href="~/css/table.css" type="text/css" rel="stylesheet" />
        </div>
    </form>

    <form asp-action="AdvancedSearchBookForm" method="get">
        <div class="form1-group">
            <button class="btn btn-default" name="btn">Wyszukiwanie zaawansowane</button>
        </div>
    </form>

    @if (Model.errorMessage is not null)
    {
        <label class="control-label">@Model.errorMessage</label>
    }

    @if (Model.books is not null && Model.books.Count == 0)
    {
        <label class="control-label">Brak wyszukań</label>
    }
    else if (Model.books is not null && Model.books.Count > 0)
    {
        <table>
            <tr>
                <th style="width: 15%;">Tytuł</th>
                <th style="width: 15%;">Autorzy</th>
                <th style="width: 10%;">Data publikacji</th>
                <th style="width: 10%;">Ilość stron</th>
                <th style="width: 10%;">Wydawca</th>
                <th style="width: 10%;">Format</th>
                <th style="width: 30%;">Opis</th>
            </tr>

            @foreach (var book in Model.books.Take(10))
            {
                <tr onclick="window.location='@Url.Action("BookDetails", "Book", book)';" style="cursor: pointer;">
                    <td>@book.Title</td>
                    <td>@book.Authors</td>
                    <td>@book.PublishedDate</td>
                    <td>@book.PageCount</td>
                    <td>@book.Publisher</td>
                    <td>@book.PrintType</td>
                    <td>
                        <div class="scrollable-description">
                        @book.Description
                        </div>
                    </td>
                </tr>
            }
        </table>
        <form asp-action="SearchBookBase" method="post" class="centered-pagination">
            <input type="hidden" name="query" value="@ViewBag.Query" />
            <button type="submit" name="page" value="@(@Model.CurrentPage - 1)" class="btn2 btn-secondary"
            @(Model.CurrentPage == 1 ? "disabled" : "")>Poprzednia</button>
            <span>Strona @Model.CurrentPage</span>
            <button type="submit" name="page" value="@(@Model.CurrentPage + 1)" class="btn2 btn-primary"
            @(Model.nextBooks.Count == 0 ? "disabled" : "")>Następna</button>
        </form>
    }
    
</div>

