<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBookshelf</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBookshelf.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")"
                               asp-controller="Home" asp-action="Index">
                                Strona główna
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(new[] { "SearchBookForm", "SearchBookBase", "AdvancedSearchBookForm", "SearchBookAdvanced", "BookDetails" }
                           .Contains(ViewContext.RouteData.Values["Action"].ToString()) ? "active" : "")"
                               asp-controller="Book" asp-action="SearchBookForm">
                                Wyszukaj książki
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewContext.RouteData.Values["Controller"].ToString() == "AnotherUser" ? "active" : "")"
                               asp-controller="AnotherUser" asp-action="ShowAllUsers">
                                Inni czytelnicy
                            </a>
                        </li>
                    </ul>

                    <ul class="nav ms-auto nav-pills">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")"
                                   asp-controller="User" asp-action="ShowMyProfile">
                                    @User.Identity.Name
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")"
                                   asp-controller="Account" asp-action="Logout">
                                    Wyloguj
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")"
                                   asp-controller="Account" asp-action="Login">
                                    Zaloguj
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")"
                                   asp-controller="Account" asp-action="Register">
                                    Rejestracja
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MyBookshelf
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
